*{
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    background-color: #6fbbf5;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerLogin {
    position: relative;
    margin: 150px 10px 50px 800px;
    border-radius: 10%;
    background-color: white;
    
}

.textLogin {
    text-align: center;
    font-size: 30px;
}

.inputLogin {
    
    margin-top: 2.5rem;
    text-align: center;
    
    
}

.inputLogin input {
    
    width: 80%;
    padding: 0.5rem;
    font-size: 20px;
}

.submitLogin {
    position: relative;
    margin: 20px 75px 75px 90px;
}

form input[type="submit"] {
    background-color: limegreen;
    color: white;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 0.4rem;
    font-size: 20px;
}

.swapLogin {
    /* margin-left: 175px; */
    text-align: center;
    margin-top: 20%;


}












/* .input-field {
    position: relative;
    flex-direction: row;
    margin-top: 1rem;
    font-size: 20px;
}
.input-field input {
    padding: 0.5rem;
    font-size: 20px;
}

.Login {
    position: relative;
    margin: 20px 75px 75px 90px;
}

form input[type="submit"] {
    background-color: limegreen;
    color: white;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 0.4rem;
    font-size: 30px;
}

.swapPage {
    margin-left: 175px;
} */

