<html>
<head>
    <link rel="stylesheet" href="views/app.css">
</head>
<body>
    <form action="/user" method="post">
        <h2>Login</h2>
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Enter Username">

        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>

        <div class="ALogin">
            <input type="submit" id="BLogin" value="login Borrower">
            
        </div>
       <a href="/admin">login Admin</a>
    </form>
    
</body>
</html>