<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COmpatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="views/app.css">
    <title>Login</title>
</head>
<body>
    <form action="/user" method="post">
        <div class="wrapLogin">
            <div class="containerWelcome">
                <div class="welcome">
                    <h1>Welcome to storage system!</h1>
                </div>
                <img class="storagePic" src="/views/pic/storageIcon.png" width="400" height="400">
            </div>
            

            <div class="containerLogin">
                <div class="textLogin">
                    <h2>Borrower Login</h2>
                </div>

                <div class="inputLogin">
                    <input type="text" name="username" id="username" placeholder="Enter Username">

                </div>
                <div class="inputLogin">
                    <input type="password" name="password" id="password" placeholder="Enter Password">
                </div>

                <div class="submitLogin">
                    <input type="submit" id="BLogin" value="Login as borrower">
                </div>

                <div class="swapLogin">
                    <a href="/admin">login Admin</a>
                </div>
            </div>

        </div>
    </form>
    
</body>
</html>