<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/Borrower/Borrow.css">
    <title>BorrowandReturn</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="user">
                <h1>ชื่อ: สาริศ บัวเอี่ยม</h1>
                <h1>ฝ่าย: นักศึกษา</h1>

            </div>

            <div class="navbar">
                <a href="#">ยืม/คืน</a></li>
                <a href="#">คลังอุปกรณ์</a></li>

            </div>
        </div>
    </div>
</body>
</html>